{% extends 'admin/admin_index.html' %}
{% block body %}
<form action="/add_doctor_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1" class="table table-hover" class="table table-hover">
    <tr>
      <td>Name</td>
      <td>
        <input type="text" name="textfield" class="form-control" />
      </td>
    </tr>
    <tr>
      <td>Image</td>
      <td>
        <input type="file" name="file"  class="form-control" />
      </td>
    </tr>
    <tr>
      <td>DOB</td>
      <td>
        <input type="date" name="textfield7" class="form-control"  />
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male
         
         <input name="radiobutton" type="radio" value="Male" />
         
        Female
        <input name="radiobutton" type="radio" value="Female" />
        </td>
    </tr>
    <tr>
      <td>qulification</td>
      <td>
        <input type="text" name="textfield2"  class="form-control" />
      </td>
    </tr>
    <tr>
      <td>Phone Number </td>
      <td>
        <input type="text" name="textfield3"  class="form-control" />
      </td>
    </tr>
    <tr>
      <td>E mail </td>
      <td>
        <input type="text" name="textfield4"  class="form-control" />
      </td>
    </tr>
    <tr>
      <td>User Name </td>
      <td>
        <input type="text" name="textfield5"  class="form-control" />
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input type="text" name="textfield6"  class="form-control" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <div align="center">
        <input type="submit" name="Submit" value="Save" class="btn btn-primary" />
      </div>
      </td>
    </tr>
  </table>
</form>
{% endblock %}