{% extends 'admin/admin_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><p><a href="viwedoctor">Add and Manage Doctor</a></p>
      <p><a href="register">view Users</a></p>
      <p><a href="viewreview">view doctor ratings</a></p>
      <p><a href="complaint">complaint</a></p>
      <p><a href="feedback">feedback</a></p>
      <p>
        <label></label>
      </p>
      <p align="center"><a href="#">logout</a></p></td>
    </tr>
  </table>
</form>
{% endblock %}